<a href="/">
    <h1>LOGO</h1>
</a>

<form method="GET" action="{% url 'home' %}">
    <input type="text" name="q" placeholder="Search Rooms">
</form>

{%  if request.user.is_authenticated %}
<a href="{% url 'logout' %}">Logout</a> {% comment %} Means if the user is authenticated it will log in and show the logout button{% endcomment %}
{% else %}
<a href="{% url 'login' %}">Login</a> {% comment %} Means if the user is not authenticated it will not log in and show the login button again{% endcomment %}
{% endif %}

<hr>